<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <f:view>
      <h:outputLabel value="Les Albums de Tintin"/>
      <br/>
      <h:form>
      <h:commandButton value="Choisir un personnage" action="indexPersonnages"/>
      </h:form>
      <br/>
      <h:form>
      <h:dataTable value="#{ctrl.albums}"
                   var="alb">
         <h:column>
            <f:facet name="header">
               <h:outputText value="titre"/>
            </f:facet>
            <h:outputText value="#{alb.titre}"/>
         </h:column>
         <h:column>
            <f:facet name="header">
               <h:outputText value="Année de sortie"/>
            </f:facet>
            <h:outputText value="#{alb.annee}"/>
         </h:column>
         <h:column>
            <f:facet name="header">
               <h:outputText value="Voir les personnages"/>
            </f:facet>
            <h:commandButton value = "Voir" action="#{ctrl.doShowPersonnage(alb)}"/>
         </h:column>
      </h:dataTable>
      </h:form>
      <h:form>
         <h:commandButton value="Home"
                          action="#{ctrl.doHome}"/>
      </h:form>
   </f:view>
</html>
