<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <h:outputLabel value="Choisir un gangster à supprimer : "/>
    <h:form>
        <h:selectOneMenu value="#{gangCtrl.gangChoisi}" id="gangNameInput" required="true" requiredMessage="choix obligatoire">
            <f:selectItem itemLabel="Veuillez choisir un gangster" noSelectionOption="true"/>
            <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
            <f:selectItems value="#{gangCtrl.gangs}" var="gang"
                           itemLabel="#{gang.gname}"
                           itemValue="#{gang.gname}"/>

        </h:selectOneMenu>
        <h:message for="gangNameInput" showDetail="true"/>
        <br/>
        <h:commandButton value="Supprimer"
                         action="#{gangCtrl.doRetraitGangster}"/>

    </h:form>
    <h:form>
        <h:commandButton value="Home"
                         action="#{gangCtrl.doHome}"/>
    </h:form>
</f:view>
</html>
