<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <h:outputStylesheet library="css" name="style.css"  />
    <f:view>
        <h3>E-Cultura : Paiement</h3>
        <h:form>
            <h:panelGrid columns="3">
                <h:outputLabel value="Numero de la CB :"/>
                <h:inputText id="numeroCBId" value="#{cartCtrl.numeroCB}"
                             required="true"
                             immediate="true">
                    <f:validateRegex pattern="[0-9]{6,12}" />
                </h:inputText>
                <h:message for="numeroCBId" errorClass="error"/>
                <h:outputLabel value="date d'expiration de la CB :"/>
                <h:inputText id="dateExpCBId" value="#{cartCtrl.dateExpirationCB}"
                             required="true" immediate="true"
                >
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:inputText>
                <h:message for="dateExpCBId" errorClass="error"/>
                <h:commandButton action="#{cartCtrl.doValidatation}"
                                 value="Valider Paiement CB"/>
            </h:panelGrid>
        </h:form>
    </f:view>
</h:body>
</html>

