<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
   <title>index</title>
</h:head>
<h:body>
   <f:view>
      <h3>E-cultura : Authentification</h3>
      <h:form>
         <h:outputLabel value="nom :"/>
         <h:inputText value="#{cartCtrl.client.nom}"/>

         <h:outputLabel value="prenom :"/>
         <h:inputText value="#{cartCtrl.client.prenom}"/>

         <h:commandButton action="#{cartCtrl.doLogin}" value="Login"/>
      </h:form>
   </f:view>
</h:body>
</html>
