<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>show items</title>
</h:head>
<h:body>
    <f:view>
        <h3>E-cultura : Panier</h3>
        <h:dataTable value="#{cartCtrl.contenuPanier}" var="achat">
            <h:column>
                <f:facet name="header">
                    Quantité
                </f:facet>
                <h:inputText value="#{achat.value}" valueChangeListener="#{cartCtrl.updateQuantite}"/>
            </h:column>
        </h:dataTable>
    </f:view>
</h:body>
</html>
